---
type Props = {
	title: string;
	slug: string;
	description: string;
	imgUrl: string;
	createdAt: string;
	updatedAt: string;
	categories: string[];
};

const {
	createdAt,
	categories,
	description,
	imgUrl,
	slug,
	title,
	updatedAt,
}: Props = Astro.props;

const createdAtDate = new Date(createdAt).toLocaleDateString("en-us", {
	weekday: "long",
	year: "numeric",
	month: "short",
	day: "numeric",
});

const updatedAtDate = new Date(updatedAt).toLocaleDateString("en-us", {
	weekday: "long",
	year: "numeric",
	month: "short",
	day: "numeric",
});
---

<div class="max-w-2xl p-4 shadow-md bg-bgk2">
	<div class="flex justify-between pb-4 border-bottom">
		<div class="flex items-center gap-2">
			{
				categories.map((c) => (
					<div class="bg-bgk px-2 py-1 rounded-md capitalize">
						{c}
					</div>
				))
			}
		</div>
		<a rel="noopener noreferrer" href={`/blog/${slug}`}>See All</a>
	</div>
	<div class="space-y-4">
		<div class="space-y-2">
			<img
				src={imgUrl}
				alt=""
				class="block object-cover object-center w-full rounded-md h-72 dark:bg-gray-500"
			/>
			<div class="text-xs">
				<p>First Posted: {createdAtDate}</p>
				<p>Last Updated: {updatedAtDate}</p>
			</div>
		</div>
		<div class="space-y-2">
			<a rel="noopener noreferrer" href="#" class="block">
				<h3 class="text-xl font-semibold">
					{title}
				</h3>
			</a>
			<p class="leading-snug overflow-clip">
				{description.split(" ").slice(0, 15).join(" ") + "..."}
			</p>
		</div>
	</div>
</div>
